# phpstorm project files
.idea

# composer vendor dir
/vendor

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

yii.bat
yii
.DS_Store